.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.category-preview-container .title {
  font-size: 28px;
  margin-bottom: 25px;
  cursor: pointer;
}
.category-preview-container .preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
