.wd-header{
    position: sticky;
    top: 0;
    min-height: 80;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.wd-Logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-left: 40px;
}

.wd-header-links {
    display: flex;
}

.wd-header-links ul li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}
.wd-header-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px 15px;
}

.wd-header-links ul li a:hover{
    color: pink;

}

 